body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.table-title {
    color: blue;
    font-weight: bold;
    margin-bottom: 15px;
}

.table-container {
    margin-bottom: 30px;
}

.dataTables_wrapper {
    margin: 20px 0;
}

.btn {
    margin: 5px;
}

.switcher {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-label {
    margin-right: 10px;
}

.dropdown {
    margin-right: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
}
.cart-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  .cart-button button
 {
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 5px; /* המרחק מהחלק העליון */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px; /* רוחב הכפתור */
  height: 45px; /* גובה הכפתור */
  border: 2px solid #66c0f4;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  overflow: hidden;
}
.cart-button button {
  right: 20px;
}

.cart-button button:hover {
  background-color: #66c0f4;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.cart-button img {
  width: 250%; /* גודל התמונה בכפתור */
  height: 250%;
  align-items: center;
  object-fit: contain;
  border-radius: 50%;
}
